<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory >
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <!--  <property name="hibernate.connection.password">2730755d</property> 
        <property name="hibernate.connection.url">jdbc:mysql://us-cdbr-azure-southcentral-f.cloudapp.net:3306/pisg8bd</property>
        <property name="hibernate.connection.username">bfc3e97001ed3f</property> -->
        
        <property name="hibernate.connection.password">maykel1313</property> 
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pis</property>
        <property name="hibernate.connection.username">root</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
     	<mapping class="Modelo.Ayuda"/>
     	<mapping class="Modelo.Clase"/>
     	<mapping class="Modelo.Contenido"/>
     	<mapping class="Modelo.EstadoJugador"/>
     	<mapping class="Modelo.Jugador"/>
     	<mapping class="Modelo.Logro"/>
     	<mapping class="Modelo.Mensaje"/>
     	<mapping class="Modelo.Mundo"/>
     	<mapping class="Modelo.Nivel"/>
     	<mapping class="Modelo.Problema"/>
     	<mapping class="Modelo.Profesor"/>
     	<mapping class="Modelo.Tema"/>
     	<mapping class="Modelo.Usuario"/>
    </session-factory>
</hibernate-configuration>
