<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="calc4fun.cliente">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAINMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainGo4Calcs" />

        <intent-filter>
            <action android:name="android.intent.action.MAINGO4CALCS" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity android:name=".QuestionActivity" />

        <intent-filter>
            <action android:name="android.intent.action.QUESTIONACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity android:name=".SendMessageActivity" />

        <intent-filter>
            <action android:name="android.intent.action.SENDMESSAGEACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity android:name=".ProfileActivity" />

        <intent-filter>
            <action android:name="android.intent.action.PROFILEACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity android:name=".TutorialActivity">
            <intent-filter>
                <action android:name="android.intent.action.TUTORIALACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".RankingActivity">
            <intent-filter>
                <action android:name="android.intent.action.RANKINGACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>